@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000000;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  height: 100%;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.container {
  max-width: 1310px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.info-block {
  position: relative;
  padding-left: 40px;
}

@media (max-width: 991px) {
  .info-block {
    padding-left: 18px;
  }
}

.info-block__icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 991px) {
  .info-block__icon {
    left: -30px;
  }
}

@media (max-width: 991px) {
  .info-block__icon {
    width: 40px;
    height: 40px;
    border-radius: 10em;
    box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 991px) {
  .info-block__icon_phone {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  .info-block_phone {
    padding-left: 0;
    padding-top: 40px;
  }
}

@media (max-width: 991px) {
  .info-block_phone .info-block__icon {
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
  }
}

@media (max-width: 991px) {
  .col-left {
    padding-top: 40px;
  }
}

@media (min-width: 992px) {
  .col-left {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .col-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 300px);
  }
}

@media (min-width: 992px) {
  .col-right {
    width: calc(100% - 200px);
  }
}

@media (min-width: 1280px) {
  .col-right {
    width: calc(100% - 250px);
  }
}

.info-block_phone img {
  width: 29px;
  height: 28px;
}

.info-block_email img {
  width: 29px;
  height: 22px;
}

.info-block_subscription img {
  width: 29px;
  height: 28px;
}

.phone-link,
.email-link {
  font-size: 17px;
}

@media (max-width: 991px) {
  .phone-link,
  .email-link {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .phone-link {
    font-weight: 700;
  }
}

.info-block__article {
  font-size: 15px;
  color: #686868;
  border-bottom: 2px solid #3EEAB3;
}

@media (max-width: 991px) {
  .info-block__article {
    font-size: 12px;
  }
}

.dw-btn {
  font-size: 18px;
  width: 134px;
  height: 38px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
  background: linear-gradient(45deg, #02B97F 33%, #03F4A7 66%, #6FFACE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  position: relative;
  padding-left: 15px;
}

.dw-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url("../img/dw.png") no-repeat center;
}

.login {
  display: inline-block;
  font-size: 15px;
  color: #686868;
  position: relative;
  padding-left: 32px;
}

@media (max-width: 767px) {
  .login {
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .login {
    padding-left: 18px;
    font-size: 14px;
  }
}

.login__icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 22px;
}

@media (max-width: 369px) {
  .login__icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 991px) {
  .login__icon {
    width: 40px;
    height: 40px;
    border-radius: 10em;
    box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    left: -30px;
  }
}

.header-top {
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid #DBDBDB;
  background: white;
  position: relative;
  z-index: 5;
}

@media (max-width: 991px) {
  .header-top {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: none;
    padding-bottom: 25px;
  }
}

.header-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-top .container .column:first-child {
  width: 100%;
}

@media (min-width: 992px) {
  .header-top .container .column:first-child {
    width: 35%;
  }
}

.header-top .container .column:last-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-top .container .column:last-child {
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .header-top .container .column:last-child {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .header-top .container .column:last-child {
    width: 65%;
  }
}

.navigate-mob {
  background: #F6F6F6;
  border-radius: 14px 14px 0px 0px;
  padding-top: 40px;
  margin-top: -22px;
  padding-bottom: 16px;
}

@media (min-width: 992px) {
  .navigate-mob {
    display: none;
  }
}

.navigate-mob__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

@media (min-width: 600px) {
  .navigate-mob__list {
    justify-content: space-around;
  }
}

@media (max-width: 991px) {
  .logo {
    text-align: center;
    padding-bottom: 10px;
  }
}

.header-top__item {
  margin-bottom: 15px;
}

.header__bottom-wrap {
  position: relative;
  z-index: 20;
}

@media (max-width: 991px) {
  .header__bottom-wrap {
    padding: 0 14px;
  }
}

.header__bottom {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
  position: relative;
  z-index: 2;
  background: white;
  position: relative;
  z-index: 10;
}

@media (max-width: 991px) {
  .header__bottom {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
}

.header__bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bottom .container .column {
  position: relative;
}

@media (max-width: 991px) {
  .header__bottom .container .column {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .header__bottom .container .column:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .header__bottom .container .column:first-child {
    width: 20%;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .header__bottom .container .column:first-child {
    width: 22%;
  }
}

.header__bottom .container .column:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  .header__bottom .container .column:nth-child(2) {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .header__bottom .container .column:nth-child(2) {
    width: 54%;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .header__bottom .container .column:nth-child(2) {
    width: 46%;
  }
}

@media (min-width: 992px) {
  .header__bottom .container .column:last-child {
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .header__bottom .container .column:last-child {
    width: 32%;
  }
}

.catalog-show {
  max-width: 232px;
  width: 100%;
  height: 48px;
  line-height: 48px;
  border-radius: 8px;
  text-transform: uppercase;
  color: white;
  background: #EE3E0E;
  font-size: 15px;
  position: relative;
  padding-right: 40px;
  z-index: 20;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 991px) {
  .catalog-show {
    display: none;
  }
}

.catalog-show:after {
  content: '';
  position: absolute;
  right: 18px;
  top: 16px;
  width: 16px;
  height: 15px;
  background: url("../img/arrow-w.png") no-repeat center;
}

.catalog-list {
  position: absolute;
  top: -14px;
  left: 15px;
  z-index: 10;
}

.catalog-list:hover {
  width: 100%;
}

.catalog-list:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 230px;
  height: 100%;
  z-index: -1;
  -webkit-box-shadow: -2px 2px 19px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -2px 2px 19px 1px rgba(0, 0, 0, 0.3);
  box-shadow: -2px 2px 19px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 10px 10px;
}

.catalog-list__links > li {
  width: 100%;
}

.catalog-list__links > li:not(:last-child) a {
  border-bottom: none;
}

.catalog-list__links > li:hover .inner-menu {
  display: flex;
}

.catalog-list__links > li:hover .catalog-list__link {
  background: #F6F6F6;
}

.catalog-list__links > li:first-child a {
  padding-top: 14px;
}

.catalog-list__links > li:first-child a:after {
  top: 53%;
}

.catalog-list__links > li > a,
.more-btn {
  width: 232px;
  font-size: 12px;
  display: block;
  padding: 14px 20px 14px 20px;
  position: relative;
  border: 1px solid #E3E3E3;
  background: white;
}

@media (min-width: 992px) and (max-width: 1099px) {
  .catalog-list__links > li > a,
  .more-btn {
    width: 212px;
  }
}

.catalog-list__links > li > a:after,
.more-btn:after {
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  background: url("../img/arrow.svg") no-repeat center;
}

@media (max-width: 1279px) {
  .catalog-list__links > li > a:after,
  .more-btn:after {
    display: none;
  }
}

.more-btn {
  border-top: none;
  border-radius: 0px 0px 10px 10px;
}

.catalog-list__hidden {
  display: none;
}

.catalog-list__hidden li:last-child a {
  border-radius: 0px 0px 10px 10px;
}

.more-btn {
  cursor: pointer;
}

.more-btn:after {
  top: 16px;
  transform: rotate(90deg);
}

.more-btn.is-active {
  border-radius: 0px;
  border-bottom: none;
}

.more-btn.is-active:after {
  top: 16px;
  transform: rotate(270deg);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav li {
  margin-right: 40px;
}

@media (max-width: 1279px) {
  .main-nav li {
    margin-right: 28px;
  }
}

.main-nav a {
  font-size: 15px;
}

.download-price {
  display: inline-block;
  padding-left: 28px;
  margin-left: 15px;
  position: relative;
}

.download-price:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 19px;
  background: url("../img/download.svg") no-repeat center;
}

.favor {
  display: inline-block;
  width: 27px;
  height: 25px;
  background: url("../img/star1.svg") no-repeat center;
  margin-right: 30px;
}

.comparison {
  display: inline-block;
  width: 27px;
  height: 25px;
  background: url("../img/libra.svg") no-repeat center;
  background-size: contain;
  margin-right: 30px;
}

.basket {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../img/cart.svg") no-repeat center;
  background-size: contain;
  margin-right: 25px;
}

.basket .count {
  top: -5px;
}

.user-info,
.basket-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info__link {
  position: relative;
}

.user-info {
  border-left: 1px solid #DBDBDB;
  padding-left: 30px;
  margin-left: auto;
}

@media (max-width: 1279px) {
  .user-info {
    padding-left: 17px;
  }
}

.count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 6px;
  border-radius: 10em;
  background: #EB360B;
  color: white;
  font-size: 13px;
  right: -5px;
  top: -9px;
}

.search-desctop {
  position: absolute;
  width: 23px;
  overflow: hidden;
  right: -20px;
  padding-left: 28px;
  background: white url("../img/search.svg") no-repeat left center;
  border: 1px solid transparent;
  border-radius: 5px;
  z-index: 10;
  transition: 0.5s;
}

.search-desctop input {
  width: 100%;
  height: 45px;
  border: none;
  background: white;
  padding-left: 5px;
  padding-right: 10px;
  outline: none;
}

@media (max-width: 599px) {
  .search-desctop input {
    font-size: 12px;
  }
}

.search-desctop.is-active {
  width: 92%;
  border: 1px solid #DBDBDB;
}

@media (min-width: 375px) {
  .search-desctop.is-active {
    width: 91%;
  }
}

@media (min-width: 992px) {
  .search-desctop.is-active {
    width: 100%;
  }
}

.basket-price {
  font-size: 15px;
}

.catalog-list {
  transition: 0.5s;
}

@media (max-width: 1279px) {
  .catalog-list {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 1279px) {
  .catalog-list.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.burger {
  width: 33px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 992px) {
  .burger {
    display: none;
  }
}

.burger span {
  width: 100%;
  height: 3px;
  background: black;
  transition: 0.2s;
  position: relative;
}

.burger.is-active {
  background: url("../img/close.png") no-repeat center;
  background-size: contain;
}

.burger.is-active span {
  opacity: 0;
}

@media (max-width: 991px) {
  .header__bottom .container .column:nth-child(2) {
    display: none;
  }
}

@media (max-width: 991px) {
  .header__bottom .container .column:nth-child(3) {
    display: none;
  }
}

.header__panel-mob {
  padding-top: 12px;
  padding-bottom: 12px;
}

@media (min-width: 768px) {
  .header__panel-mob {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .header__panel-mob {
    display: none;
  }
}

.search-mob {
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .search-mob {
    margin: 0;
  }
}

.search-mob input {
  width: 100%;
  height: 40px;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  padding-left: 38px;
  padding-right: 10px;
  background: url("../img/search.svg") no-repeat left 2px center;
}

.user-info_mob {
  padding-left: 0;
  border-left: 0;
  margin-left: auto;
  position: relative;
  top: 3px;
  width: 220px;
}

@media (max-width: 374px) {
  .user-info_mob {
    width: 190px;
  }
}

.user-info_mob .favor,
.user-info_mob .comparison,
.user-info_mob .basket {
  margin-right: 12px;
}

.user-info_mob .basket-price {
  font-size: 14px;
}

@media (min-width: 992px) {
  .user-info_mob {
    display: none;
  }
}

.search-mobile {
  left: 46px;
  top: 49%;
  transform: translateY(-50%);
}

@media (max-width: 374px) {
  .search-mobile {
    left: 37px;
  }
}

.search-mobile input {
  height: 43px;
}

@media (min-width: 992px) {
  .search-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .complect__top {
    display: flex;
    align-items: center;
  }
  .complect__top .complect__price-old {
    margin-bottom: 0;
  }
  .complect__top .complect__price {
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .complect__top {
    text-align: center;
  }
}

.dropdownmenu {
  max-width: 300px;
  width: 100%;
  position: absolute;
  left: -100%;
  top: 55px;
  z-index: 9999;
  background: white;
  padding: 15px 0px 0px;
  border: 1px solid #DBDBDB;
  border-radius: 10px;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
  transition: 0.5s;
}

@media (min-width: 600px) {
  .dropdownmenu {
    top: 50px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: none;
}

.dropdownmenu.is-active {
  left: 10px;
}

.dropdownmenu.is-sticky {
  top: 55px;
  height: 87vh;
  overflow-y: auto;
}

.dropdownmenu__title {
  text-transform: uppercase;
  padding-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  padding-left: 15px;
}

.dropdownmenu__list > li {
  padding: 14px 25px 14px 15px;
  position: relative;
  cursor: pointer;
}

.dropdownmenu__list > li:after {
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;
  width: 10px;
  height: 10px;
  background: url("../img/arrow.svg") no-repeat center;
  transform: rotate(90deg);
}

.dropdownmenu__list > li:not(:last-child) {
  border-bottom: 1px solid #E0E0E0;
}

.dropdownmenu__inner {
  padding-top: 15px;
  display: none;
}

.dropdownmenu__inner li {
  margin-bottom: 10px;
}

.mob-nav {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.mob-nav li {
  margin-bottom: 15px;
  width: 50%;
}

.top-banner {
  background: #F6F6F6;
}

@media (max-width: 1279px) {
  .top-banner .container {
    padding: 0;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .top-banner .container {
    padding-right: 0;
  }
}

@media (min-width: 1280px) {
  .top-banner .container .column {
    width: calc(100% - 232px);
    margin-left: auto;
  }
}

.actions-block .container .column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

@media (max-width: 991px) {
  .actions-block .container .column {
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .actions-block .container .column {
    padding-left: 36px;
    width: calc(100% - 227px);
    margin-left: auto;
  }
}

.block-links {
  max-width: 230px;
  width: 100%;
}

@media (max-width: 991px) {
  .block-links {
    max-width: 280px;
    width: 100%;
    margin: 15px;
  }
}

.actions-block__item {
  max-width: 230px;
  width: 100%;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
  height: 180px;
  border-radius: 10px;
  padding: 23px 10px 0px 23px;
  position: relative;
}

@media (max-width: 991px) {
  .actions-block__item {
    max-width: 280px;
    width: 100%;
    margin: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .actions-block__item {
    padding-top: 9px;
    width: 24%;
  }
}

.info-block_news {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.info-block_news .actions-block__article {
  padding: 23px 10px 0px 23px;
}

.link-green {
  display: inline-block;
  padding: 7px 13px;
  border-radius: 4px;
  background: #21E7A8;
  font-weight: 800;
  font-size: 13px;
  color: white;
  text-align: center;
}

.actions-block__article {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 18px;
}

.info-block_actions {
  background: url("../img/actions-bg.jpg") no-repeat left 5px center;
}

.info-block_actions .link-green {
  position: absolute;
  right: 16px;
  bottom: 22px;
}

.info-block_news-img {
  background: url("../img/news-bg.jpg") no-repeat left 5px bottom;
}

.info-block_news-img .link-green {
  position: absolute;
  right: 16px;
  bottom: 22px;
}

.block-links li {
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
  border-radius: 6px;
}

.block-links li:not(:last-child) {
  margin-bottom: 8px;
}

.block-links a {
  display: block;
  padding: 10px 5px 10px 45px;
  font-size: 14px;
  font-weight: 300;
}

.solution-link {
  background: url("../img/note.svg") no-repeat left 10px center;
}

.calendar-link {
  background: url("../img/wtf.svg") no-repeat left 10px center;
}

.partner-link {
  background: url("../img/hands.svg") no-repeat left 10px center;
}

.choice-link {
  background: url("../img/check.svg") no-repeat left 10px center;
}

.big-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F0F0F0;
  height: 100%;
}

.big-link span {
  position: relative;
  font-size: 13px;
  color: #939393;
  display: inline-block;
  padding-left: 76px;
  right: 7px;
}

.big-link span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 62px;
  height: 60px;
  background: url("../img/hello.svg") no-repeat center;
  background-size: contain;
  opacity: 0.5;
}

.banner-slider .swiper-slide {
  position: relative;
  background: #F6F6F6;
}

@media (max-width: 767px) {
  .banner-slider .swiper-slide {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .banner-slider .swiper-slide {
    background: none;
  }
  .banner-slider .swiper-slide:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(247, 247, 247, 0.6);
    z-index: 1;
  }
}

.banner-slider .swiper-button-next {
  background: white url("../img/arrow-r.png") no-repeat center;
  width: 35px;
  height: 35px;
  border-radius: 10em;
  opacity: 0.7;
}

.banner-slider .swiper-button-prev {
  background: white url("../img/arrow-l.png") no-repeat center;
  width: 35px;
  height: 35px;
  border-radius: 10em;
  opacity: 0.7;
}

.banner-slider__cont {
  padding: 20px 40px;
}

@media (min-width: 768px) {
  .banner-slider__cont {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    padding-top: 20px;
    padding-left: 70px;
  }
}

@media (min-width: 1280px) {
  .banner-slider__cont {
    padding-top: 44px;
  }
}

.banner-slider__list {
  list-style-type: disc;
  margin-bottom: 18px;
  font-weight: 600;
  color: #4E575C;
}

@media (max-width: 991px) {
  .banner-slider__list {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.comp-logo {
  margin-bottom: 18px;
}

@media (max-width: 991px) {
  .comp-logo {
    margin-bottom: 10px;
  }
}

.banner-slider__img img {
  display: block;
  width: 100%;
}

@media (max-width: 767px) {
  .banner-slider__img {
    display: none;
  }
}

.banner-slider__sub-title {
  text-transform: uppercase;
  font-weight: 700;
  color: #555554;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .banner-slider__sub-title {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner-slider__sub-title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}

.banner-slider__sub-title span {
  font-weight: 400;
  color: #F40409;
}

.banner-slider__model {
  text-transform: uppercase;
  color: #4E575C;
  font-weight: 600;
}

.product {
  width: 230px;
  padding: 10px 0px 20px;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  background: white;
}

.cont-slider {
  padding: 10px 0px;
}

.cont-slider .swiper-slide {
  display: flex;
  justify-content: center;
}

.cont-slider .swiper-button-next,
.cont-slider .swiper-button-prev {
  width: 35px;
  height: 35px;
  border-radius: 10em;
  opacity: 0.7;
}

.cont-slider .swiper-button-next {
  background: white url("../img/arrow-r.png") no-repeat center;
  right: 0;
}

.cont-slider .swiper-button-prev {
  background: white url("../img/arrow-l.png") no-repeat center;
  left: 0;
}

.star-reyting {
  display: flex;
}

.product__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding-left: 19px;
  padding-right: 19px;
}

.product__status {
  display: inline-block;
  width: 62px;
  height: 27px;
  line-height: 27px;
  background: #FF011D;
  color: white;
  text-align: center;
  border-radius: 10em;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.product__img {
  text-align: center;
}

.product__name {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

.product__article {
  text-align: center;
  font-size: 14px;
  margin-bottom: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid #CCCCCC;
}

.product__price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.product__price-new {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}

.product__price-new span {
  font-size: 18px;
}

.product__price-old {
  font-size: 16px;
  color: #8B8B8B;
}

.product__buttons {
  display: flex;
  align-items: center;
  padding-left: 19px;
  padding-right: 19px;
}

.add-cart-btn {
  width: 125px;
  height: 40px;
  background: white;
  border: 1px solid #EE3E0E;
  border-radius: 10em;
  color: #EE3E0E;
}

.add-cart-btn:hover {
  background: #EE3E0E;
  color: white;
}

.add-star-btn {
  width: 20px;
  height: 20px;
  background: url("../img/star1.svg") no-repeat center;
  margin-left: 12px;
  margin-right: 12px;
}

.add-comp-btn {
  width: 25px;
  height: 24px;
  background: url("../img/libra.svg") no-repeat center;
  background-size: contain;
}

.sale-block,
.news-block,
.sales-lead {
  padding-top: 48px;
  background: url("../img/bg-cont.jpg") no-repeat bottom center;
}

.sale-block .container,
.news-block .container,
.sales-lead .container {
  max-width: 1340px;
}

.sale-block .cont-title,
.news-block .cont-title,
.sales-lead .cont-title {
  max-width: 1310px;
  width: 100%;
  padding: 0 15px;
}

.news-block {
  background: white;
}

.stickytop {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 9999;
}

.stickytop .catalog-show:after {
  transform: rotate(-90deg);
}

.stickytop .catalog-show.is-active:after {
  transform: rotate(0deg);
}

.cont-title {
  margin-bottom: 23px;
  color: #282828;
  font-size: 22px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .cont-title {
    text-align: center;
  }
}

.slider-arrows {
  max-width: 234px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F1F1F1;
  border-radius: 10em;
  padding: 7px;
  font-size: 14px;
  color: #505050;
}

@media (max-width: 767px) {
  .slider-arrows {
    margin: 0 auto 20px;
  }
}

.slide-nav {
  width: 30px;
  height: 30px;
  border-radius: 10em;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.slide-nav_prev {
  background: white url("../img/prev.png") no-repeat center;
}

.slide-nav_next {
  background: white url("../img/next.png") no-repeat center;
}

@media (min-width: 768px) {
  .top-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    padding-right: 15px;
  }
  .top-cont .cont-title {
    margin-bottom: 0;
  }
}

.brends {
  padding-top: 55px;
  padding-bottom: 72px;
  position: relative;
}

@media (max-width: 767px) {
  .brends {
    padding-bottom: 14px;
    text-align: center;
  }
}

.brends__list li {
  margin-bottom: 15px;
}

@media (min-width: 1280px) {
  .brends__list li {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .brends__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  .brends__list {
    justify-content: space-between;
  }
}

.news-block {
  padding-top: 38px;
}

.brends__btn {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  height: 54px;
  position: relative;
  font-size: 15px;
  text-align: center;
  background: white;
  border-radius: 10em;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
  padding-left: 36px;
}

.brends__btn:after {
  content: '';
  position: absolute;
  left: 28px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 19px;
  background: url("../img/btn-dw.png") no-repeat center;
}

.brends__button-wrap {
  position: absolute;
  max-width: 280px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
}

.sales-lead {
  background: url("../img/bg-lead.jpg") no-repeat center;
  padding-top: 40px;
  padding-bottom: 60px;
}

.sales-lead .slider-arrows {
  background: #FFFFFF;
}

.complect {
  max-width: 620px;
  width: 100%;
  background: #F5F5F5;
  border-radius: 18px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .complect {
    max-width: 250px;
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .complect {
    display: flex;
    justify-content: space-between;
  }
}

.complect-slider__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .complect-slider__item .complect-slider__img:first-child {
    margin-right: 18px;
  }
}

@media (min-width: 768px) {
  .complect-slider__item .complect-slider__img:not(:last-child) {
    margin-right: 18px;
  }
}

@media (max-width: 767px) {
  .complect-slider__item .complect-slider__img:nth-child(3) {
    display: none;
  }
}

.complect-slider__img {
  background: white;
  border-radius: 10px;
  width: 94px;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.complect-slider__img img {
  border-radius: 10px;
}

@media (max-width: 767px) {
  .complect-slider__img {
    width: 70px;
    height: 70px;
  }
}

.complect-slider__img:not(:first-child) {
  position: relative;
}

.complect-slider__img:not(:first-child):after {
  content: '+';
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 374px) {
  .complect-slider__img:not(:first-child):after {
    right: -14px;
  }
}

.complect-slider__wrap {
  position: relative;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .complect-slider__wrap {
    padding: 0 40px;
  }
}

.complect-slider__wrap .slide-nav {
  box-shadow: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.complect-slider__wrap .slide-nav_next {
  right: 0;
}

@media (max-width: 767px) {
  .complect-slider__wrap .slide-nav_next {
    right: -15px;
  }
}

.complect-slider__wrap .slide-nav_prev {
  left: 0;
}

@media (max-width: 767px) {
  .complect-slider__wrap .slide-nav_prev {
    left: -15px;
  }
}

.complect__left {
  padding: 20px;
}

@media (max-width: 767px) {
  .complect__left {
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .complect__left {
    width: 75%;
    border-right: 1px solid #DADADA;
  }
}

.complect__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .complect__right {
    border-top: 1px solid #CCCCCC;
    padding-top: 7px;
    margin-top: 5px;
  }
}

@media (min-width: 768px) {
  .complect__right {
    width: 25%;
  }
}

.complect__price {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 14px;
}

@media (max-width: 767px) {
  .complect__price {
    margin-bottom: 5px;
  }
}

.complect__price-old {
  font-size: 13px;
  font-weight: 700;
  color: #A9A9A9;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .complect__price-old {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .complect__btn-list {
    display: flex;
    align-items: center;
    padding-top: 20px;
  }
  .complect__btn-list .add-cart-btn {
    margin-right: 17px;
  }
}

.complect__btn-list li {
  text-align: center;
}

.complect__btn-list li:first-child {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .complect__btn-list li:first-child {
    margin-bottom: 0px;
  }
}

.complect__btn-list .add-cart-btn {
  background: none;
}

.complect__btn-list .add-cart-btn:hover {
  background: #EE3E0E;
  color: white;
}

.complect__btn-list .add-star-btn {
  margin: 0;
  margin-right: 17px;
}

.complect__name {
  font-size: 14px;
  margin-bottom: 14px;
}

.complect__article {
  font-size: 14px;
  color: #A9A9A9;
}

@media (min-width: 1280px) {
  .complects-block__inner {
    display: flex;
  }
}

@media (max-width: 1279px) {
  .complects-block__inner .column {
    margin-bottom: 25px;
  }
}

@media (min-width: 1280px) {
  .complects-block__inner .column {
    width: 50%;
  }
}

@media (max-width: 1279px) {
  .complects-block__inner .column:nth-child(2) {
    display: none;
  }
}

.complects-block {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #CCCCCC;
}

@media (min-width: 1280px) {
  .complects-block {
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
}

.main-text p {
  font-size: 16px;
  color: #6F6F6F;
  margin-bottom: 50px;
  line-height: 34px;
}

@media (max-width: 1279px) {
  .main-text p {
    margin-bottom: 25px;
    line-height: 24px;
  }
}

.footer__top {
  background: #282828;
  padding-top: 48px;
  padding-bottom: 35px;
}

.footer-phone {
  display: inline-block;
  position: relative;
  font-size: 18px;
  font-weight: 300;
  color: white;
  padding-left: 28px;
}

.footer-phone:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url("../img/phone-grey.png") no-repeat center;
}

.footer-email {
  display: inline-block;
  position: relative;
  font-size: 18px;
  font-weight: 300;
  color: white;
  padding-left: 28px;
}

.footer-email:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url("../img/email-grey.png") no-repeat center;
}

.footer-contact li {
  margin-bottom: 16px;
}

.footer-logo {
  margin-bottom: 35px;
}

.footer__title {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 12px;
}

.footer__list {
  list-style-type: circle;
  padding-left: 15px;
  color: #797979;
  font-size: 16px;
}

.footer__list li {
  margin-bottom: 10px;
}

.footer__list a {
  display: inline-block;
}

@media (min-width: 992px) and (max-width: 1279px) {
  .footer__list {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .footer__top .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__inner .column:first-child {
  position: relative;
}

.footer__inner .column:first-child:after {
  content: '';
  position: absolute;
  right: 20px;
  top: 0;
  width: 1px;
  height: 100%;
  border-right: 1px solid #3E3E3E;
  display: none;
}

@media (min-width: 768px) {
  .footer__inner .column {
    width: 35%;
    margin-bottom: 25px;
  }
}

@media (min-width: 992px) {
  .footer__inner .column {
    margin-bottom: 0;
  }
  .footer__inner .column:first-child {
    width: 33%;
    position: relative;
  }
  .footer__inner .column:first-child:after {
    display: block;
  }
  .footer__inner .column:nth-child(2) {
    width: 19%;
  }
  .footer__inner .column:nth-child(3) {
    width: 25%;
  }
  .footer__inner .column:last-child {
    width: 17%;
  }
}

@media (min-width: 1280px) {
  .footer__inner .column:first-child:after {
    right: 50px;
  }
}

@media (min-width: 768px) {
  .footer__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media (min-width: 1280px) {
  .footer__inner {
    justify-content: space-between;
  }
}

.footer__bottom {
  background: #1F1F1F;
  color: #969696;
}

.footer__bottom .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footer__bottom .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.copyrightб .privacy {
  font-size: 15px;
}

.privacy {
  text-decoration: underline;
}

.social {
  display: flex;
  align-items: center;
  padding: 15px 0px;
}

.social li:not(:last-child) {
  margin-right: 11px;
}

.inner-menu {
  position: absolute;
  left: 233px;
  background: #F8F8F8;
  min-height: 100%;
  z-index: 10;
  top: 0;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
  padding-top: 27px;
  display: none;
  flex-wrap: wrap;
}

@media (min-width: 992px) and (max-width: 1099px) {
  .inner-menu {
    left: 212px;
  }
}

.inner-menu .inner-menu__item:not(:last-child) {
  margin-right: 25px;
}

.inner-menu .inner-menu__item:last-child .inner-menu__inner {
  padding-right: 30px;
}

.inner-menu__title {
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 18px;
}

.dropmenu-main {
  position: relative;
  z-index: 10;
}

.inner-menu__list {
  font-size: 12px;
}

.inner-menu__list li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 16px;
}

.inner-menu__list li:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background: none;
  border-radius: 10em;
  border: 1px solid #EE3F0F;
}

.inner-menu__inner {
  padding-left: 33px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DFDFDF;
}

@media (min-width: 992px) and (max-width: 1279px) {
  .inner-menu__inner {
    padding-left: 18px;
  }
}

.inner-menu__item .inner-menu__inner:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.cat-choose-wrap {
  width: 490px;
  background: #F1F1F1;
  padding-left: 44px;
  padding-right: 44px;
  border-radius: 10em;
  position: relative;
}

.cat-choose-wrap .slide-nav {
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
}

.cat-choose {
  padding: 14px 0px;
}

.cat-choose .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .sale-slider_mobile,
  .news-slider_mobile,
  .lead-slider_mobile {
    display: none;
  }
}

@media (max-width: 991px) {
  .slider-tabs,
  .cat-choose-wrap {
    display: none;
  }
}

.cat-choose__item {
  font-size: 14px;
  color: #505050;
}

.slider-tabs .cont-slider:not(:first-child) {
  display: none;
}
